.box {
  height: 80px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.info {
  height: 80px;
  width: 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
}
.height {
  color: pink;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
.ok {
  height: 80px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.width {
  font-size: x-small;
}
